/* golos-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/golos-text-v4-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* golos-text-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/golos-text-v4-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --bgd-main: #ebf1fc;
  --bgd-initSection: #260a30;
  --bgd-rose: #fff5e8;
  --clr-border: #40b0bf;
}

* {
  box-sizing: border-box;
  font-family: "Golos Text";
  margin: 0;
}

body {
  background-color: var(--bgd-main);
  padding: 2rem;
}

h1 {
  color: brown;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerImg {
  width: 2rem;
}

.container {
  max-width: 1440px;
  width: 90vw;
  margin: 0 auto;
}

.teamImg,
.rewiewsImg {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.questions {
  width: 100%;
  background-color: var(--bgd-rose);
  border: 4px solid var(--clr-border);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem 0;
}

.questionsTitle {
  font-size: calc(2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
  line-height: calc(
    1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)))
  );
  margin-bottom: 1rem;
}

.questionsBtn {
  width: 100%;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.answers {
  font-size: calc(1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
  line-height: calc(
    1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)))
  );
  margin-block-start: 0.5lh;
  overflow: hidden;
  line-height: 0;
  transition: line-height 0.5s;
}
.questionsBtn.active ~ .answers {
  line-height: 1.2;
}
