/* golos-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/golos-text-v4-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* golos-text-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/golos-text-v4-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --bgd-main: #ebf1fc;
  --bgd-initSection: #260a30;
  --bgd-rose: #fff5e8;
  --clr-border: #40b0bf;
  --h1-fontsize: clamp(2.5rem, 1.7857rem + 3.5714vw, 5rem);
  --h2-fontsize: clamp(2rem, 1.4286rem + 2.8571vw, 4rem);
  --primaryText-fontsize: clamp(1.125rem, 1.0464rem + 0.3929vw, 1.4rem);
  --subtitle-fontsize: clamp(1.56rem, 1.2914rem + 1.3429vw, 2.5rem);
}

* {
  box-sizing: border-box;
  font-family: "Golos Text";
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgd-main);
  padding: 2rem;
}

h1 {
  font-size: var(--h1-fontsize);
  color: brown;
}

h2 {
  font-size: var(--h2-fontsize);
  text-align: center;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerImg {
  width: 2rem;
}

.container {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
}

.blueBorder {
  outline: 4px solid var(--clr-border);
  border-radius: 0.5rem;
  transition: 0.5s;
}

.teamImg,
.rewiewsImg {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.questions {
  width: 100%;
  background-color: var(--bgd-rose);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem 0;
}

.questionsTitle {
  margin-bottom: 1rem;
}

.questionsBtn {
  width: 100%;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.answers {
  font-size: var(--primaryText-fontsize);
  line-height: calc(
    1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)))
  );
  margin-block-start: 0.5lh;
  overflow: hidden;
  line-height: 0;
  transition: line-height 0.5s;
}
.questionsBtn.active ~ .answers {
  line-height: 1.2;
}

.sectionImage {
  overflow: hidden;
}

.sectionImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.sectionRunline {
  height: clamp(7.5rem, 3.818rem + 18.41vw, 17.625rem);
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.sectionRunline h2 {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 20s infinite linear;
}
