.container {
  background-color: #ffffff;
  padding: 1rem 1rem 0 1rem;
  border-radius: 2rem;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

.imgShevron {
  width: 1.5rem;
}

.question {
  font-size: clamp(1.56rem, 1.2914rem + 1.3429vw, 2.5rem);
  font-weight: calc(
    1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)))
  );
}
